@import '../../styles/shared.module.scss';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    margin: 5em 0;
    font-stretch: extra-expanded;
}

.showcaseProj {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 2em;
}

// ======= Project card styles starts here =========================
.pCard {
    opacity: 1;
    position: relative;
    min-height: 20em;
    background-color: var(--text-primary-color);
    display: grid;
    justify-items: center;
    align-items: center;

    .cardImage {
        width: 70%;
        min-height: 70%;
        position: absolute;
    }
}

@media (min-width:55em) {
    .showcaseProj {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.projDesc {
    overflow-y: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    align-content: flex-end;
    align-self: flex-end;
    clip-path: circle(0px at top right);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all .9s ease-in-out;
    z-index: 1;
    padding: 2em;

    article {
        max-width: 45ch;
        min-height: 11ch;
        max-height: 13ch;
        line-height: 1.5em;
        padding-bottom: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1em auto;
        gap: 1em
    }

    .tools {
        border: 1px solid var(--secondary-color);
    }
}

.tools {
    position: relative;
    display: flex;
    border-radius: 1em;
    align-items: center;
    gap: 0.3em;
    padding: .3em .8em;
    width: max-content;
    cursor: default;

    > div {
        position: relative;
        width: 1.5ch;
        height: 1.5ch;
    }

    h4 {
        line-height: 0;
        font-size: 1rem;
    }
}

.pCard:hover {
    .projDesc {
        clip-path: circle(200% at top right);
    }
}

.btn {
    @include button-style(var(--secondary-color), .5em 1em);
    position: absolute;
    bottom: 1em;
    left: 2em;
}

// =========== overlay related styles starts here ========================
.overlayWrapper {
    position: fixed;
    margin: 0 auto;
    max-width: 1644px;
    z-index: 106;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 100vmax rgba($color: #fff, $alpha: 0.8);
    clip-path: inset(0 -100vmax);
}

.overlay {
    @include overlays();

    // left-side project description wrapper
    > div:nth-of-type(1) {
        position: relative;
        padding: 2em;
        background-color: var(--text-primary-color);
        box-shadow: var(--box-shadow);

        .links {
            display: flex;
            gap: 1em;
            margin-top: 1em;
        }
        // tools parent wrapper, only affects the 
        // tools wrapper in the overlay
        > div:nth-of-type(1) {
            display: grid;
            grid-template-columns: 1fr;
            width: max-content;
            margin: 1em 0;
            gap: .5em
        }
        button {
            @include button-style(var(--secondary-color), .5em 1em);
            box-shadow: var(--box-shadow-small);
            font-size: medium;
            font-weight: lighter;
            transition: all .5s;
        }
        article {
            font-size: 1.2rem;
            line-height: 1.5em;
        }
        button:hover {
            box-shadow: 0 0 0 rgb(0,0,0);
        }
        // overrides the .tools class in the overlay
        .tools {
            padding: .5em .9em;
            margin-bottom: .5em;
            border: 1px solid var(--primary-color);
        }
    } 

    // right side with video or images of the project
    > div:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 5em 1em;
        position: relative;
        background-color: var(--primary-color);


        div {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;

            iframe {
                width: 100%;
                aspect-ratio: 16 / 9;
                border: 0;
            }

            img, span {
                position: relative !important;
                height: auto !important;
            }
        }
    }
}

.closeBtn {
    @include closeBtn-style();
    top: .5em;
    right: 1em;
    z-index: 104;
}

.closeBtn::before{
    justify-self: center;
    align-self: center;
    content: "\00d7"; /* This will render the 'X' */
    font-size: 2em;
    line-height: 0;
    color: var(--text-primary-color);
    z-index: 104;
}

.projControls {
    position: absolute;
    display: flex;
    bottom: 2em;
    left: 2em;
    justify-content: flex-start;
    z-index: 104;
    gap: 2em;
    font-size: 1em;
    margin-top: 1em;

    > button {
        @include button-style(var(--secondary-color), .5em 1em);
        color: var(--primary-color);
        box-shadow: var(--box-shadow);

        svg {
            margin: 0 .5em;
            color: var(--primary-color);
        }
        transition: background-color 400ms ease-in;
    }

    > button:hover {
        background-color: var(--ascent-color);
        color: var(--text-primary-color);

        svg {
            margin: 0 .5em;
            color: var(--text-primary-color);
        }
    }
}


@media (min-width: 55em) {
    .overlay {
        grid-template-columns: 1.5fr 1fr;
        grid-auto-flow: row;
        overflow: hidden;
        max-width: 1644px;
        margin: 0 auto;

        >div:nth-of-type(1) {
            min-height: auto;
            margin: 5em 2em;
            overflow-y: auto;
        }

        >div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
    
            gap: 2em;
            padding: 4em 0;

            div {
                width: 90%;
        
                position: relative;
                min-height: auto;
        
        
                margin: 0 auto;
        

            }
        }

        >div:nth-of-type(1)::-webkit-scrollbar, > div:nth-of-type(2)::-webkit-scrollbar {
            width: 3px;
            background: var(--primary-color);
        }
        
        /* text */
        >div:nth-of-type(1)::-webkit-scrollbar-text, >div:nth-of-type(2)::-webkit-scrollbar-text {
            background: var(--primary-color);
        }
        
        /* Handle */
        >div:nth-of-type(1)::-webkit-scrollbar-thumb, >div:nth-of-type(2)::-webkit-scrollbar-thumb {
            background: var(--text-primary-color);
            border-radius: 10px;
            transition: all 2s;
        }
        
        /* Handle on hover */
        >div:nth-of-type(1)::-webkit-scrollbar-thumb:hover, >div:nth-of-type(2)::-webkit-scrollbar-thumb:hover {
            background: var(--text-secondary-color);
        }
    }

    .projControls {
        margin-left: 0em;
    }
    .projDesc {
        > div {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}



@keyframes grow {
    from {
        // transform: scale(0);
        clip-path: circle(0px at center center);
    }

    to {
        // transform: scale(1);
        clip-path: circle(200% at center center);
    }
}