  
.skills {
    display: grid;
    position: relative;
    grid-template-columns: repeat(1, 1fr);
    margin: 10em 0;
    background-color: var(--primary-color);
    // max-width: ;
    // flex-direction: row;
    // flex-wrap: wrap;
    // margin: 5em 0;


}

@media (min-width: 45em) {
    .skills{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 75em) {
    .skills{
        grid-template-columns: repeat(4, 1fr);
    }
}

.sCard {
    width: auto;
    min-height: 20em;
    border: 1px solid #a0a5ba;
    position: relative;
    display: flex;
    flex-direction: column;

    .cardImage {
        height: 50%;
        position: relative;
        margin: auto 0;
    }

    h3 {
        margin: auto;
        font-size: 2rem;
        color: var(--secondary-color);
    }
}