// contains shared styles

.wrapper { // for media querry
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

// .wrapTitle {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 2em;

//     .h2 {
//         font-size: 2.5em;
//     }
// }
.h2 {
    font-size: 2.5em;
    
}
.title {
    font-size: 2.5em;
    margin: 2em auto;
    width: max-content;

}
.title::after, .title::before {
    content: '';
    position: relative;
    display: block;
    height: .15em;
    // width: 100%;
    background-color: #031229;
    // width: auto;
    
}
.title::before {
    top: 2em;
    width: 70%;
    margin: 0 auto;
}
.title::after {
    top: .3em
}

.underlineTop, .underlineBottom {
    border-top: 4px solid #031229;
    color:  #031229;
}
.underlineTop {
    margin-top: 0.9em;
    width: 70%;
}
.underlineBottom {
    margin-top: 0.5em;
    width: 50%;
}

@mixin button-style($bg-color, $padding: 0, $margin: 0) {
    border: 0;
    outline: 0;
    border-radius: 20px;
    background-color: $bg-color;
    padding: $padding;
    margin: $margin;
    cursor: pointer;
}