// contains shared styles

.wrapper { // for media querry
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.h2 {
    font-size: 2.5em;
}
.title {
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 3em;
    width: max-content;

}
.title::after, .title::before {
    content: '';
    position: relative;
    display: block;
    height: .12em;
    background-color: #031229;
    
}
.title::before {
    top: 3.4ch;
    width: 70%;
    margin: 0 auto;
}
.title::after {
    top: .3em
}

@mixin closeBtn-style ($bg-color:var(--primary-color)) {
    position: absolute;
    cursor: pointer;
    background-color: $bg-color;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    border: 0;
    display: grid;
}


@mixin button-style($bg-color, $padding: 0, $margin: 0, $color: --primary-color) {
    border: 0;
    outline: 0;
    border-radius: 3em;
    background-color: $bg-color;
    padding: $padding;
    margin: $margin;
    color: $color;
    transition: all .7s ease-in-out;
    cursor: pointer;
}