.about {
    display: flex;
    padding: 5em 1em;

    
    article {
        margin: 0 auto;
        max-width: 50ch;
        font-size: 1.5rem;

        text-align: justify;
        word-spacing: 0;
        line-height: 2.3ch;
    }

    @media (min-width: 55em) {
        article {
            word-spacing: .43ch;
            text-align: left;
        }
    }
}

