:root {
  /* Theme colors */
  --media-min-width: 55em;
  --primary-color: #031229;
  --secondary-color: #f5f8ff;
  --track-primary-color: #f5f5f5;
  --track-secondary-color: #777777;

  /* shadow  */
  --box-shadow: 0 10px 19px -10px #0312296f;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  max-width: 1644px;
  margin: 0 auto;
  position: relative;
}
p,h1,h2,h3,h4, button {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* width */
body::-webkit-scrollbar {
  width: 3px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--track-primary-color);
  border-radius: 10px;
  transition: all 2s;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--track-secondary-color);
}