.logo {
    background-color: var(--ascent-color);
    padding: 1em;
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    border-radius: 2em;

    p {
        font-size: 1.2rem;

        span:nth-of-type(1) {
            font-size: 2rem;
            line-height: 0;
        }
    }
}